<div class="comment-<%= comment.id %> container">
  Posted by <%= comment.user.name %><br>

  <div>
    <div class="d-flex">
      <%= comment.body %>
      <div class="d-flex">
        <div style="margin-left: 900px">
          <% like = current_user.likes.find_by(likeable: comment) %>
          <% if like.nil? %>
            <%= button_to "Like", likes_path, params: { like: { likeable_id: comment.id, likeable_type: Comment } }, style: "border: none; background: rgba(113, 190, 52, 0.15); padding: 5px 20px; border-radius: 20px;", method: :post %>
          <% else %>
            <%= button_to "Unlike", like_path(like), style: "border: none; background: rgba(245, 100, 100, 0.15); padding: 5px 20px; border-radius: 20px;", method: :delete %>
          <% end %>
          <%= comment.likes.count %> Likes
        </div>
        <div>
          <% if comment.user == current_user || (current_user.has_role? :admin)  %>
            <%= button_to "Delete", [post, comment], method: :delete, class: "btn btn-outline-danger" %>
          <% end %>
        </div>
      </div>
    </div>
    - Posted <%= time_ago_in_words(comment.created_at) %><br>
  </div>
  <br>
</div>
