<!--<h1 class="d-flex justify-content-center">All Users</h1>-->
<%# @users.each do |user| %>
<!--  <strong>Name : </strong><%#=user.name %><br>-->
<!--  <strong>Email : </strong><%#=user.email %><br>-->
<!--  <strong>Role : </strong><%#=user.roles.pluck(:name) %><br>-->
<!--  <strong>Access_locked? : </strong><%#= user.access_locked? %><br>-->
<%#= link_to ban_status(user), ban_member_path(user), method: :patch %>
<!--  <strong>Access_locked? : </strong><%#= user.access_locked? %><br>-->
<%#= link_to "Edit Role", edit_member_path(user) %>
<!--<hr>-->
<%# end %>





<p style="color: green"><%= notice %></p>


<div class="row" , style="width: 100vw">
  <div class="col-2">
    <div class="d-flex" , style="margin-left: 20px">
      <%= image_tag "icons/Vector.png", style: "height: 34.3px; width: 32px; margin-right: 10px;" %>
      <h3>Maze</h3>
    </div>

    <div style="margin: 30px auto 20px; margin-left: 30px">
      <%= link_to posts_path do %>
        <%= button_tag class: 'btn btn-primary', style: "width: 150px; padding: 10px" do %>
          <%= image_tag 'icons/feed.png', style: "margin-right: 10px" %><span style="font-size: 20px">Feed</span>
        <% end %>
      <% end %>
    </div>

    <div style="margin: 30px; padding: 20px">
      <%= link_to edit_user_registration_path do %>
        <div class="d-flex " , style="height: 15px;">
          <%= image_tag 'icons/profile.png', style: "padding-right: 20px;" %>
          <%= image_tag 'photos/Profile.png' %>
        </div>
      <% end %>
    </div>

    <%= link_to members_path do %>
      <div style="margin: 30px; padding: 20px">
        <div class="d-flex" , style="height: 17px;">
          <%= image_tag 'icons/manage_users.png', style: "padding-right: 20px;" %>
          <%= image_tag 'photos/manage_users.png' %>
        </div>
      </div>
    <% end %>


    <div style="margin: 30px; padding: 20px">
      <%= link_to destroy_user_session_path, data: { turbo_method: :delete } do %>
        <div class="d-flex" , style="height: 15px;">
          <%= image_tag 'icons/logout.png', style: "padding-right: 20px;" %>
          <%= image_tag 'photos/Logout.png' %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-10">
    <div class="container">
      <div class="d-flex">
        <p style="font-size: 25px; font-weight: bold; color: #9FA0A3;">User Management</p>
        <div class="d-flex" , style="padding-left: 700px">
          <%= image_tag "photos/admin.jpg", style: "border-radius: 300px; height: 50px" %>
          <div>
            <span style="font-size: 20px; margin-left: 15px"><%= current_user.name %></span>
            <p style="margin-left: 20px"><%= current_user.roles.pluck(:name) %></p>
          </div>
        </div>
      </div>
    </div>
    <div class="container" style="background-color: #F5F6F8; padding: 30px; border-radius: 20px; margin-bottom: 20px">
      <div class="d-flex">
        <strong style="font-size: 25px">List of Users</strong>
        <button type="button" class="btn btn-primary btn-lg" style="margin-left: 800px">Create Users</button>
      </div>

      <% @users.each do |user| %>
        <div class="d-flex" , style="background-color: #FFFFFF; margin: 15px; padding: 10px; border-radius: 10px">
          <div style="background-color: #F5F6F8; padding: 5px; border-radius: 30px">
            <%= image_tag "icons/Vector.png" %>
          </div>
          <div class="d-flex" , style="padding-top: 10px">
            <div>
              <strong style="padding: 0px 60px;">
                <%= user.name %>
              </strong>
            </div>

            <div>
              <strong style="padding: 0px 60px;">
                <%= user.number %>
              </strong>
            </div>

            <div>
              <strong style="padding: 0px 60px;">
                <%= user.email %>
              </strong>
            </div>

            <% if ban_status(user) == "Activate" %>
              <%= link_to ban_member_path(user), method: :patch do %>
                <%= button_tag ban_status(user), class: "btn btn-outline-success", style: "margin: 0px 70px;" %>
              <% end %>
            <% else %>
              <%= link_to ban_member_path(user), method: :patch do %>
                <%= button_tag ban_status(user), class: "btn btn-outline-danger", style: "margin: 0px 70px;" %>
              <% end %>
            <% end %>
            <div>
              <%= image_tag "photos/dots.png", style: "height: 30px" %>
            </div>

          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>


